{%extends "skeleton.html"%}
{% block content %}

<div class="card-deck">
    {% for crop in field.crop_set.all %}
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">
                <p>{{ crop.crop_name }}</p>    
            </h5>
            <p class="card-text">
                <h6>{{ crop.scientific_name}}</h6>
                <p>{{ crop.crop_name }} is an {{field.life_form}}</p>
                <p>{{ crop.field_ }}</p>
                <li>{{ field.field_name }}</li>
            </p>
            </div>
            <div class="card-footer">
            <small class="text-muted">Last updated 10-30-2022</small>
            </div>
        </div>
    {% endfor %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Wheat</h5>
        <p class="card-text">Wheat is an annual plant

        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 10-30-2022</small>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Soy Bean</h5>
        <p class="card-text">Soy Bean is an annual plant</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 10-30-2022</small>
      </div>
    </div>
  </div>


{% endblock content %}