{%extends "skeleton.html"%}
{% block content %}

<div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Corn</h5>
        <p class="card-text">
            <h6>{{ corn.scientific_name}}</h6>
            <p>corn is an annual plant</p>
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 10-30-2022</small>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Wheat</h5>
        <p class="card-text">Wheat is an annual plant</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 10-30-2022</small>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Soy Bean</h5>
        <p class="card-text">Soy Bean is an annual plant</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 10-30-2022</small>
      </div>
    </div>
  </div>


{% endblock content %}