.container{
    margin:0px auto;
    width: 100%; 
}

#header{
    color: darkcyan;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: small-caps;
    padding: 20pt;
    text-align: center;
}

#about{
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin: 20px
}

#mypic{
    padding: 20px;
    margin: 20px
}

#work-samples{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
}

.flex-container {
    display: flex;
  }
  
.flex-container > div {
    width: 300px;
    margin: 10px;
    padding: 20px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}