<!DOCTYPE html>
<html>

<head>
    <title>Farmnotes Application</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'farmnotes/style.css' %}">
</head>

<body>
    {% if field %}
    <div class = "list">
    <h1>{{field.field_name}}</h1>
    <h2>Observation</h2>
        <ul>
        {# list all observations in the field #}
        {% for item in observation %}
            <li><a href="/farmnotes/{{ field.id }}/{{ item.id }}/">{{ item.observation_title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No observation are available.</p>
    {% endif %}
    </div>
</body>
</html>