<!DOCTYPE html>
<html>

<head>
    <title>Farmnotes Application</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'farmnotes/style.css' %}">
</head>

<body>
    {% if field %}
    <h1>{{field.field_name}}</h1>
    {% elif observation %}
    <h2>Observation: {{ observation.observation_name }}</h2>
    <h4>{{ observation.observation_content }}</h4>
    <h4>{{ observation.author }}</h4>
    <h4>{{ observation.observation_date }}</h4>
    <h4>{{ observation.observation_type }}</h4>
    {% else %}
        <p>No observation are available.</p>
    {% endif %}
</body>
</html>